In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/15 17:58:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet('data/files/green/*')
df_yellow = spark.read.parquet('data/files/yellow/*')

In [4]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [14]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee']

In [3]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [6]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [7]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [18]:
#In order to keep the columns sorted in same manner:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [19]:
from pyspark.sql import functions as F

In [20]:
df_green_uni = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green')) #F.lit: literal from sql to insert new column with its type

In [21]:
df_yellow_uni = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [22]:
df_trips_data = df_yellow_uni.unionAll(df_green_uni)

In [23]:
df_trips_data.groupBy('service_type').count().show()

+------------+---------+
|service_type|    count|
+------------+---------+
|      yellow|109247536|
|       green|  8035161|
+------------+---------+

In [26]:
### SQL:

df_trips_data.registerTempTable('trips_data') ### make table to access it by sql
df_trips_data.columns

/home/7asanen999/spark/spark-3.3.1-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [29]:
spark.sql("""
SELECT service_type, count(1)
FROM trips_data
WHERE VendorID IS NOT NULL
GROUP BY service_type
""").show()

+------------+---------+
|service_type| count(1)|
+------------+---------+
|      yellow|109247536|
|       green|  8035161|
+------------+---------+

In [30]:
### From dm_monthly_revenue with different zones
df_SQL_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM trips_data
GROUP BY 1, 2, 3
""")

In [31]:
df_SQL_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         149|2019-03-01 00:00:00|      yellow|  13378.940000000026|                284.5|                  188.5|        42.510000000000005|           627.3799999999993|                   126.89999999999915|          14653.730000000018|                                 5.0|        1.4637223974763407|       8.583664302600473|
|         241|2019-03-01 00:00:00|      yellow|    9495.80000000001|               159.75|                  143.5|                    128.49|           387.8399999999996|                    93.89999999999947|          10439.030000000024|                                25.0|        1.2841328413284132|      7.5846835443037985|
|         121|2019-03-01 00:00:00|      yellow|  11355.470000000023|               245.25|                  155.0|        216.70999999999998|           568.8199999999994|                   117.89999999999924|          12675.000000000018|                                10.0|        1.3823529411764706|       8.137291139240508|
|         264|2019-02-01 00:00:00|      yellow|  1074307.7700000086|             50166.25|                34123.6|         148350.6300000009|          20866.759999999453|                    20927.39999997263|          1350768.9000007883|                            30080.25|        1.4068682712361198|       2.466000788576898|
|         143|2019-03-01 00:00:00|      yellow|   938525.4599999951|            109567.05|                44820.5|         164815.7200000016|           10775.70000000023|                    27034.79999995781|          1430933.8800011494|                           220902.25|        1.5715031431173505|      2.1225677022209486|
|          43|2019-02-01 00:00:00|      yellow|  1046835.7699999987|    91433.20000000001|                48505.5|          179593.580000001|           11042.89000000025|                   29177.099999952614|          1562648.1600013485|                            222121.5|         1.648052668337373|      2.1392478116758333|
|         228|2019-03-01 00:00:00|      yellow|  19916.830000000016|               432.25|                  374.0|                    941.44|           543.3599999999996|                   239.40000000000336|          22683.929999999884|                               182.5|        1.3994374120956399|       6.051133004926108|
|         178|2019-03-01 00:00:00|      yellow|  4718.7199999999975|                116.0|                   85.5|                      28.4|          234.71999999999986|                    57.29999999999981|           5243.140000000007|                                 5.0|         1.308641975308642|       6.276753926701572|
|         230|2019-03-01 00:00:00|      yellow|   3559134.320000008|   364757.14999999997|               138067.0|         610156.8800000077|          106259.77999997782|                    83501.40000043606|           5294629.529986443|                           686400.75|        1.6244153682821152|       2.760455002846966|
|         224|2019-03-01 00:00:00|      yellow|  175168.66000000012|             17344.75|                 7708.5|        29021.120000000126|          2472.7100000000096|                    4645.500000001356|          260329.28999996348|                             37753.0|        1.5418442464161177|      2.4327439495365595|
|          16|2019-03-01 00:00:00|      yellow|   9743.120000000008|               176.75|                  140.0|         78.35000000000001|          368.99999999999966|                     90.8999999999995|          10600.620000000026|                                 5.0|         1.105058365758755|       8.165523809523808|
|         191|2019-03-01 00:00:00|      yellow|  23901.809999999998|                424.5|                  256.0|        36.089999999999996|          1089.7199999999987|                   172.80000000000084|          25887.869999999944|                                 7.5|        1.4807692307692308|      11.635980551053471|
|         141|2019-03-01 00:00:00|      yellow|  1715321.1799999957|             215589.4|                89059.0|        308023.63999999635|          15440.770000000448|                   53561.100000145605|          2674640.2899989686|                           441985.25|        1.5605605605605606|       1.963662203062361|
|         101|2019-03-01 00:00:00|      yellow|  10412.650000000012|               177.75|                  110.0|                     38.37|          425.47999999999956|                    80.69999999999959|          11247.450000000006|                                 2.5|         1.167464114832536|        11.1556690140845|
|         237|2009-01-01 00:00:00|      yellow|               190.5|                  5.0|                    9.5|        20.310000000000002|                        5.76|                    5.699999999999998|          276.77000000000004|                                40.0|        2.3684210526315788|      1.9578947368421054|
|         107|2019-02-01 00:00:00|      yellow|   1722417.329999991|             194235.6|                80990.0|         314986.6199999968|          26401.709999998035|                     48738.3000000988|           2628743.889999421|                           379571.25|        1.5754227428578464|      2.1427310741193026|
|         246|2019-02-01 00:00:00|      yellow|  1205454.9099999946|             137327.2|                51857.0|        224469.32999999714|          19950.889999999596|                   31286.099999947503|          1814811.6800014642|                            246636.5|        1.5771910489242418|      2.3669088282289064|
|         158|2019-02-01 00:00:00|      yellow|   811100.7599999995|    91262.25000000001|                34562.0|        151101.59000000203|           9128.220000000174|                    20824.49999997287|          1214505.6200007065|                           163789.75|        1.5973228663446055|       2.485344170870867|
|         248|2019-03-01 00:00:00|      yellow|   7366.669999999997|               166.05|                  125.5|                     91.64|           375.9099999999997|                    78.59999999999961|           8213.820000000014|                                15.0|        1.3926940639269407|       7.503977695167279|
|          52|2019-03-01 00:00:00|      yellow|  58845.829999999965|              1995.75|                 2035.0|         9798.000000000004|          500.50999999999954|                    1229.699999999905|           77140.89000000268|                              3852.5|        1.5482531150745176|       3.582911300121503|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [33]:
df_SQL_result.write.parquet('data/report/revenue/dm_monthly_zones_revenue.parquet', mode='overwrite')

In [36]:
df_read_result = spark.read.parquet("./data/report/revenue/dm_monthly_zones_revenue.parquet")

In [37]:
df_read_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         149|2019-03-01 00:00:00|      yellow|  13378.940000000026|                284.5|                  188.5|        42.510000000000005|           627.3799999999993|                   126.89999999999915|          14653.730000000018|                                 5.0|        1.4637223974763407|       8.583664302600473|
|         241|2019-03-01 00:00:00|      yellow|    9495.80000000001|               159.75|                  143.5|                    128.49|           387.8399999999996|                    93.89999999999947|          10439.030000000024|                                25.0|        1.2841328413284132|      7.5846835443037985|
|         121|2019-03-01 00:00:00|      yellow|  11355.470000000023|               245.25|                  155.0|        216.70999999999998|           568.8199999999994|                   117.89999999999924|          12675.000000000018|                                10.0|        1.3823529411764706|       8.137291139240508|
|         264|2019-02-01 00:00:00|      yellow|  1074307.7700000086|             50166.25|                34123.6|         148350.6300000009|          20866.759999999453|                    20927.39999997263|          1350768.9000007883|                            30080.25|        1.4068682712361198|       2.466000788576898|
|         143|2019-03-01 00:00:00|      yellow|   938525.4599999951|            109567.05|                44820.5|         164815.7200000016|           10775.70000000023|                    27034.79999995781|          1430933.8800011494|                           220902.25|        1.5715031431173505|      2.1225677022209486|
|          43|2019-02-01 00:00:00|      yellow|  1046835.7699999987|    91433.20000000001|                48505.5|          179593.580000001|           11042.89000000025|                   29177.099999952614|          1562648.1600013485|                            222121.5|         1.648052668337373|      2.1392478116758333|
|         228|2019-03-01 00:00:00|      yellow|  19916.830000000016|               432.25|                  374.0|                    941.44|           543.3599999999996|                   239.40000000000336|          22683.929999999884|                               182.5|        1.3994374120956399|       6.051133004926108|
|         178|2019-03-01 00:00:00|      yellow|  4718.7199999999975|                116.0|                   85.5|                      28.4|          234.71999999999986|                    57.29999999999981|           5243.140000000007|                                 5.0|         1.308641975308642|       6.276753926701572|
|         230|2019-03-01 00:00:00|      yellow|   3559134.320000008|   364757.14999999997|               138067.0|         610156.8800000077|          106259.77999997782|                    83501.40000043606|           5294629.529986443|                           686400.75|        1.6244153682821152|       2.760455002846966|
|         224|2019-03-01 00:00:00|      yellow|  175168.66000000012|             17344.75|                 7708.5|        29021.120000000126|          2472.7100000000096|                    4645.500000001356|          260329.28999996348|                             37753.0|        1.5418442464161177|      2.4327439495365595|
|          16|2019-03-01 00:00:00|      yellow|   9743.120000000008|               176.75|                  140.0|         78.35000000000001|          368.99999999999966|                     90.8999999999995|          10600.620000000026|                                 5.0|         1.105058365758755|       8.165523809523808|
|         191|2019-03-01 00:00:00|      yellow|  23901.809999999998|                424.5|                  256.0|        36.089999999999996|          1089.7199999999987|                   172.80000000000084|          25887.869999999944|                                 7.5|        1.4807692307692308|      11.635980551053471|
|         141|2019-03-01 00:00:00|      yellow|  1715321.1799999957|             215589.4|                89059.0|        308023.63999999635|          15440.770000000448|                   53561.100000145605|          2674640.2899989686|                           441985.25|        1.5605605605605606|       1.963662203062361|
|         101|2019-03-01 00:00:00|      yellow|  10412.650000000012|               177.75|                  110.0|                     38.37|          425.47999999999956|                    80.69999999999959|          11247.450000000006|                                 2.5|         1.167464114832536|        11.1556690140845|
|         237|2009-01-01 00:00:00|      yellow|               190.5|                  5.0|                    9.5|        20.310000000000002|                        5.76|                    5.699999999999998|          276.77000000000004|                                40.0|        2.3684210526315788|      1.9578947368421054|
|         107|2019-02-01 00:00:00|      yellow|   1722417.329999991|             194235.6|                80990.0|         314986.6199999968|          26401.709999998035|                     48738.3000000988|           2628743.889999421|                           379571.25|        1.5754227428578464|      2.1427310741193026|
|         246|2019-02-01 00:00:00|      yellow|  1205454.9099999946|             137327.2|                51857.0|        224469.32999999714|          19950.889999999596|                   31286.099999947503|          1814811.6800014642|                            246636.5|        1.5771910489242418|      2.3669088282289064|
|         158|2019-02-01 00:00:00|      yellow|   811100.7599999995|    91262.25000000001|                34562.0|        151101.59000000203|           9128.220000000174|                    20824.49999997287|          1214505.6200007065|                           163789.75|        1.5973228663446055|       2.485344170870867|
|         248|2019-03-01 00:00:00|      yellow|   7366.669999999997|               166.05|                  125.5|                     91.64|           375.9099999999997|                    78.59999999999961|           8213.820000000014|                                15.0|        1.3926940639269407|       7.503977695167279|
|          52|2019-03-01 00:00:00|      yellow|  58845.829999999965|              1995.75|                 2035.0|         9798.000000000004|          500.50999999999954|                    1229.699999999905|           77140.89000000268|                              3852.5|        1.5482531150745176|       3.582911300121503|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows